:root {
  --dev-border: 1px solid black;
  --my-orange: #E95420;
  --my-blue: #2050e9;
  --my-teal: #20e9b9;
  --my-gray: #eeeded;
  --my-dark-gray: #818181;
}


* {
  font-family: 'Lora', serif;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

#outer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 10vh);
  row-gap: 1rem;
  background: linear-gradient(130deg, var(--my-orange), var(--my-blue));
}

header {
  display: grid;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  justify-items: center;
  background-color: white;
}

#inner-container {
  display: grid;
  grid-column: 3 / 11;
  grid-row: 1 / 9;
  border-radius: 1rem;
  background: white;

  margin-top: 1rem;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#side-bar {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 13;
  border-radius: 1rem 0 0 1rem;
  background: var(--my-gray);
}

#side-bar-content {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

#side-bar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

#side-bar-list li {
  padding: 0.5em;
  border: 1px solid transparent;
}

#side-bar-list li:hover {
  color: var(--my-blue);
  border: 1px solid var(--my-orange);
  border-radius: 1rem;
}

#title-space {
  display: grid;
  grid-column: 4 / 11;
  grid-row: 1 / 2;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

h1:hover {
  color: var(--my-orange);
}