ul {
    padding: 0;
}

li {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1rem;
    padding: 0;
}

.task-body {
    display: flex;
    flex-direction: row;
}

.task-list {
    grid-column: 5 / 11;
    grid-row: 5 / 12;
    border: 2px solid var(--my-gray);
    border-radius: 1rem;

    padding: 1rem;
    margin-top: 1rem;
}

.task-wrapper {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
}

.task-wrapper:hover {
    background: linear-gradient(90deg, var(--my-gray), white);
}

.task-wrapper p {
    flex-grow: 1;
}

i {
    font-size: 1.25rem;
}

.task-wrapper .task-content {
    flex-grow: 20;
}

.task-title {
    font-weight: 500;
}

.task-description {
    font-weight: 300;
}

.task-date {
    margin-top: 0.5rem;
}

.date-and-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-btn {
    background-color: var(--my-orange);
    border-radius: 10%;
    color: white;
    padding: 0.5rem;
    border: none;
}

.delete-btn:hover {
    background-color: var(--my-blue);
}

.done-task {
    color: var(--my-dark-gray);
    text-decoration: line-through;
}